.aboutMe_basic{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
.aboutMe_box{
    width:50%;
    margin-bottom: 2rem;
}
.aboutMe_box_inner{

    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 14rem;
    margin: 0 auto;
    opacity: .8;
}
.aboutMe_icon{
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    margin-top: 0.2rem;
    margin-right: 2rem;
}
.aboutMe_info_tit{
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: left;
}
.aboutMe_email{
    text-decoration: none;
    color: inherit;
}